@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Kanit:wght@300&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family:'Montserrat', sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container, .grid-contacto, .grid-productos, .grid-ubicacion > * {
    border-radius: 0px; 
    padding: 0px;
    
}

.header img{
  width: 7%;
  background: url("/IMG/VAMOSimg.png") no-repeat;
  float: left;
  height: 10%;
 margin-top: 2px;
 margin-left: 10px;
}

.titulo{
  text-align: center;
  width: 100%;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
}
.socialmedia {
font-size: 2.5rem;
  display:ruby-base;
  flex: 5 auto;
  justify-content: flex-end;
}

.socialmedia a {
  color:black;
  padding: 0px 5px;
}

.socialmedia a:hover {
  color: black;
  font-size: 1.9rem;
}
 .header {
    grid-area: header;
    padding: 0px;
    background-color: #AAC1B1;
}

  .navbar {
    grid-area: navbar;
    background-color: #AAC1B1; 
}
.navbar a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 10px;
    letter-spacing: 5px;
    font-weight: bold;
    background-color: #CBE4D6;
   }

  .main {
    grid-area: main;
    padding: 25px;
    background-color: #CBE4D6;
  }

  .columnasimg {

    width: 20%;
    display: inline-block;
    margin: auto;
    min-width: 250px;
  }
  .footer {
    grid-area: footer;
    background-color: #AAC1B1;
    text-align: center;
  }

.grid-container, .grid-contacto, .grid-productos, .grid-ubicacion {    
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "navbar"
        "main"
        "footer";
}

@media (min-width: 480px) {
  .grid-container, .grid-contacto, .grid-productos, .grid-ubicacion   {
    grid-template:
    "header  header" 100px
    "navbar  navbar" 50px
    "main main"   auto
    "footer  footer" 100px 
    200px    auto;
  }    
    
}
@media (min-width: 600px) {
    .grid-container, .grid-contacto, .grid-productos, .grid-ubicacion   {
  
      grid-template:
        "header  header" 100px
        "navbar  navbar" 50px
        "main main"   auto
        "footer  footer" 100px /
        200px    auto;
    }
  }
  
@media (min-width: 900px) {
    .grid-container, .grid-contacto, .grid-productos, .grid-ubicacion {
      grid-template:
        "header  header header"  100px
        "navbar  main   main" auto
        "footer  footer footer"  100px /
        200px    auto   200px;
    }
}
